/*

All grid code is placed in a 'supports' rule (feature query) at the bottom of the CSS (Line 310). 
        
The 'supports' rule will only run if your browser supports CSS grid.

Flexbox and floats are used as a fallback so that browsers which don't support grid will still recieve a similar layout.

*/

/* Base Styles */
:root {
    font-size: 10px;
}

.gallery-container {
  max-width: 93.5rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.nav-pills .nav-link {
  font-size: large;
  color: black;
}

a.tab.active {  
  color: rgba(199, 138, 18, 0.7) !important;
  font-weight: bold;
  background-color: transparent !important;
}

.gallery-item  {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.gallery-item:hover {
    opacity: 0.7;
}


/* Gallery Section */

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem -1rem;
  padding-bottom: 3rem;
}

.gallery-item {
    position: relative;
    flex: 1 0 22rem;
    margin: 1rem;
    color: #fff;
    cursor: pointer;
}

.gallery-image {
    width: 100%;
    height: 24em;
    object-fit: cover;
   /* border-radius: 2em;*/
}

.gallery-image.portrait{
    object-position: 50% 0%;
}

/*

The following code will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox & floated styling. 

*/

@supports (display: grid) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
        grid-gap: 2rem;
    }

    .gallery-item,
    .gallery {
        width: auto;
        margin: 0;
    }
}

/* TRIAL */
.photos .photo-item {
    position: relative;
  }
  .photos .photo-item:after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
    transition: 0.3s all ease;
    opacity: 0;
    visibility: hidden;
  }
  .photos .photo-item .photo-text-more {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    margin-top: 30px;
    transition: 0.3s all ease;
    opacity: 0;
    visibility: hidden;
    text-align: center;
  }
  .photos .photo-item .photo-text-more .icon {
    color: white;
    font-size: 20px;
  }
  .photos .photo-item .photo-text-more .heading {
    font-size: 16px;
    color: white;
    margin-bottom: 0;
  }
  .photos .photo-item .photo-text-more .meta {
    color: #cccccc;
    text-transform: uppercase;
    font-size: 12px;
  }
  .photos .photo-item img {
    width: 100%;
    object-fit: cover;
    height: 300px;
    /* @include media-breakpoint-down(xs) {
         height: 200px;
     }*/
  }
  .photos .photo-item:hover:after {
    opacity: 1;
    visibility: visible;
  }
  .photos .photo-item:hover .photo-text-more {
    margin-top: 0;
    opacity: 1;
    visibility: visible;
  }