  h5 a {
    background: #ffffff;
    color: rgba(0, 0, 0, 0.7);
    display: block;
    font-size: 1em;
    padding: 15px;
    text-decoration: none;
    transition: 0.15s all ease-in-out;
  }

  h5 a:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.4);
  }

  h5 a:not(.collapsed) {
    background: #fff;
    transition: 0.15s all ease-in-out;
  }
  
  h5 a:not(.collapsed) i:before {
    content: "";
  }

  h5 a i {
    color: rgba(51, 51, 51, 0.7);
  }

