/*

All grid code is placed in a 'supports' rule (feature query) at the bottom of the CSS (Line 310). 
        
The 'supports' rule will only run if your browser supports CSS grid.

Flexbox and floats are used as a fallback so that browsers which don't support grid will still recieve a similar layout.

*/

/* Base Styles */   
:root {
    font-size: 10px;
}

.gallery-container {
    max-width: 93.5rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.gallery-item  {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.gallery-item:hover {
    opacity: 0.7;
}


/* Gallery Section */

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem -1rem;
    padding-bottom: 3rem;
}

.gallery-item {
    position: relative;
    flex: 1 0 22rem;
    margin: 1rem;
    color: #fff;
    cursor: pointer;
}

.gallery-image {
    width: 100%;
    height: 24em;
    object-fit: cover;
}

/*

The following code will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox & floated styling. 

*/

@supports (display: grid) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
        grid-gap: 2rem;
    }

    .gallery-item,
    .gallery {
        width: auto;
        margin: 0;
    }
}